.body-left{
    background-color: #ffffff;
    width: 200px;
    height: 100%;
    border-right: 1px solid #bbbbbb;

    display: flex;
    flex-direction: column;
}

.body-left .sidebar{
    height: 50px;
    display: flex;
}

.body-left .sidebar .toggle{
    width: 50px;
    height: 50px;
    background-image: url('../../content/img/toggle.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 18px center;
}

.body-left .sidebar .logo{
    width:  138px;
    height: 50px;
    background-image: url('../../content/img/cukcuk-logo.png');
    background-size: 126px;
    background-repeat: no-repeat;
    background-position: 0px 9px;
}

.body-left .menu{
    position: relative;
    flex: 1;
    background-color: #ffffff;
}

.body-left .menu .menu-item{
    display: flex;
    align-items: center;
    cursor: pointer;

}

.body-left .menu .menu-item:hover{
    background-color: #e9e9e9;
}

.body-left .menu .menu-item .icon{
    width: 50px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 18px center;
}

.body-left .menu .menu-item .item-name{
    width: 150px;
}

.body-left .menu .menu-item .icon.overview{
    background-image: url('../../content/icon/dashboard.png');

}

.body-left .menu .menu-item .icon.report{
    background-image: url('../../content/icon/report.png');
    
}

.body-right{
    position: absolute;
    left: 201px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: bisque;
}

.body-right .header{
    background-color: antiquewhite;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #bbbbbb;
}

.body-right .content{
    background-color: #E9EBEE;
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
}